<div class="page-header">
  <h1>
    Recipes
    <a href="/recipes/new" class="btn btn-lg btn-success">New Recipe</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "recipes_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :title_cont, "Title contains" %>
    <%= f.text_field :title_cont, :class => "form-control", :placeholder => "Title contains" %>
  </div>

<div class="form-group">
  <%= f.label :parent_id, "Parent" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :parent_id_gteq, :class => "form-control", :placeholder => "Parent greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :parent_id_lteq, :class => "form-control", :placeholder => "Parent less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
    <%= f.label :suggestions_cont, "Suggestions contains" %>
    <%= f.text_field :suggestions_cont, :class => "form-control", :placeholder => "Suggestions contains" %>
  </div>

<div class="form-group">
    <%= f.label :review_cont, "Review contains" %>
    <%= f.text_field :review_cont, :class => "form-control", :placeholder => "Review contains" %>
  </div>

<div class="form-group">
    <%= f.label :type_of_dish_cont, "Type of dish contains" %>
    <%= f.text_field :type_of_dish_cont, :class => "form-control", :placeholder => "Type of dish contains" %>
  </div>

<div class="form-group">
    <%= f.label :cuisine_cont, "Cuisine contains" %>
    <%= f.text_field :cuisine_cont, :class => "form-control", :placeholder => "Cuisine contains" %>
  </div>

<div class="form-group">
    <%= f.label :original_source_cont, "Original source contains" %>
    <%= f.text_field :original_source_cont, :class => "form-control", :placeholder => "Original source contains" %>
  </div>

<div class="form-group">
    <%= f.label :directions_cont, "Directions contains" %>
    <%= f.text_field :directions_cont, :class => "form-control", :placeholder => "Directions contains" %>
  </div>

<div class="form-group">
    <%= f.label :ingredients_cont, "Ingredients contains" %>
    <%= f.text_field :ingredients_cont, :class => "form-control", :placeholder => "Ingredients contains" %>
  </div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :user_email_cont, "User email contains" %>
      <%= f.text_field :user_email_cont, :class => "form-control", :placeholder => "User email contains" %>
    </div>

<div class="form-group">
      <%= f.label :steps_direction_cont, "Step direction contains" %>
      <%= f.text_field :steps_direction_cont, :class => "form-control", :placeholder => "Step direction contains" %>
    </div>

<div class="form-group">
      <%= f.label :elements_ingredient_cont, "Ingredient ingredient contains" %>
      <%= f.text_field :elements_ingredient_cont, :class => "form-control", :placeholder => "Ingredient ingredient contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/recipes" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#recipes_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Title</th>
        <th>Ingredients</th>
        <th>Directions</th>
        <th>Original source</th>
        <th>Cuisine</th>
        <th>Type of dish</th>
        <th>Photo</th>
        <th>Review</th>
        <th>Suggestions</th>
        <th>User</th>
        <th>Parent</th>
        <th>Actions</th>
      </tr>

      <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.title %></td>
        <td><%= recipe.ingredients %></td>
        <td><%= recipe.directions %></td>
        <td><%= recipe.original_source %></td>
        <td><%= recipe.cuisine %></td>
        <td><%= recipe.type_of_dish %></td>
        <td><img src='<%= recipe.photo %>' class='img-responsive'></td>
        <td><%= recipe.review %></td>
        <td><%= recipe.suggestions %></td>
        <td>
          <% if recipe.user.present? %>
            <a href="/users/<%= recipe.user.id %>">
              <%= recipe.user.email %>
            </a>
          <% end %>
        </td>
        <td><%= recipe.parent_id %></td>
        <td>
          <a href="/recipes/<%= recipe.id %>" class="btn btn-primary">Show</a>
          
          <% if current_user == recipe.user %>
            <a href="/recipes/<%= recipe.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_recipe/<%= recipe.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @recipes, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
