<div class="page-header">
  <h3>Recipe #<%= @recipe.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @recipe.title %></dd>

      <dt>Ingredients</dt>
      <dd><%= @recipe.ingredients %></dd>

      <dt>Directions</dt>
      <dd><%= @recipe.directions %></dd>

      <dt>Original source</dt>
      <dd><%= @recipe.original_source %></dd>

      <dt>Cuisine</dt>
      <dd><%= @recipe.cuisine %></dd>

      <dt>Type of dish</dt>
      <dd><%= @recipe.type_of_dish %></dd>

      <dt>Photo</dt>
      <dd><img src="<%= @recipe.photo %>" class="img-responsive"></dd>

      <dt>Review</dt>
      <dd><%= @recipe.review %></dd>

      <dt>Suggestions</dt>
      <dd><%= @recipe.suggestions %></dd>

      <dt>User</dt>
      <dd><%= @recipe.user_id %></dd>

      <dt>Parent</dt>
      <dd><%= @recipe.parent_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/recipes" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @recipe.user %>
        <a href="/recipes/<%= @recipe.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_recipe/<%= @recipe.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Recipe has many steps -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Steps
      </li>

      <% @recipe.steps.each do |step| %>
        <li class="list-group-item">
          <a href="/steps/<%= step.id %>">
            <%= step.direction %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/steps/<%= step.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/steps/<%= step.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_step/<%= step.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Recipe has many elements -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Elements
      </li>

      <% @recipe.elements.each do |ingredient| %>
        <li class="list-group-item">
          <a href="/ingredients/<%= ingredient.id %>">
            <%= ingredient.ingredient %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/ingredients/<%= ingredient.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/ingredients/<%= ingredient.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_ingredient/<%= ingredient.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
